<header>
  <h1 class="titulo-principal">Barbearia Alura</h1>

</header>

<img class="banner" src="/assets/img/banner.jpg" alt="Banner">

<main>
  <section class="principal">
    <h2 class="titulo-principal">Sobre a Barbearia Alura</h2>

    <img class="utensilios" src="/assets/img/utensilios.jpg" alt="utensilios da Barbearia ">


    <p>
      Localizada no coração da cidade a <strong>Barbearia Alura</strong> traz para o mercado o que há de melhor
      para o
      seu cabelo e barba.
      Fundada em 2019, a Barbearia Alura já é destaque na cidade e conquista novos clientes a cada dia.
    </p>

    <p id="missao"><em>Nossa missão é: <strong>"Proporcionar auto-estima e qualidade de vida aos
          clientes"</strong>.</em>
    </p>

    <p>
      Oferecemos profissionais experientes e antenados às mudanças no mundo da moda.
      O atendimento possui padrão de excelência e agilidade, garantindo qualidade e satisfação dos nossos
      clientes.
    </p>
  </section>

  <section class="mapa">
    <h3 class="titulo-principal">Nosso Estabelecimento</h3>
    <p>Nosso estabeleciomento esta no coracao da cidade</p>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d29358.348801508935!2d-45.707126983399895!3d-23.104650310960555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cc515874be629f%3A0xa2fbccc3bc2fbce!2sParque%20Res.%20Nova%20Ca%C3%A7apava%2C%20Ca%C3%A7apava%20-%20SP!5e0!3m2!1spt-BR!2sbr!4v1624282190013!5m2!1spt-BR!2sbr"
      width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>



  </section>




  <section class="beneficio">
    <h3 class="titulo-principal">
      Benefincios
    </h3>


    <ul>

      <li class="itens">*Atendimento ao Cliente </li>
      <li class="itens"> *Espaco Diferencial </li>
      <li class="itens"> *Localizacao</li>
      <li class="itens">*Profissionais Qualificados </li>

    </ul>
    <img src="/assets/img/beneficios.jpg" class="imagembeneficio" alt="">

    <div class="video">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/wcVVXUV0YUY" title="YouTube video player"
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div>

  </section>

</main>