<header>
  <header>
    <div class="caixa">
      <h1><img src="/assets/img/logo.png" class="banner" alt=""></h1>
      <nav>
        <ul>
          <li><a href=""></a>Home</li>
          <li><a href=""></a>Podutos</li>
          <li><a href=""></a>Contatos</li>
        </ul>
      </nav>
    </div>
  </header>


  <main>
    <ul>
      <li>
        <h2>Cabelo</h2>
        <img src="/assets/img/cabelo.jpg" alt="">
        <p></p>
        <p></p>
      </li>
      <li>
        <h2>Barba</h2>
        <img src="/assets/img/barba.jpg" alt="">
        <p></p>
        <p></p>

      </li>
      <li>
        <h2>Cabelo e Barba</h2>
        <img src="/assets/img/cabelo+barba.jpg" alt="">
        <p></p>
        <p></p>
      </li>

    </ul>



  </main>
