.container {
  margin-top: 20px;
  text-align: center;
}

.row {
  justify-content: center;
  align-items: flex-start;
  height: auto;
  text-align: center;
}

.logo {
  justify-content: center;
  text-align: center;
  width: 100vw;
}
