footer {
  text-align: center;
  background: url(/assets/img/logo-branco.png);
  background: black;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin: 20px 0 0;

}
